.button-buy {
  width: 75px;
  height: 32px;
  background-color: var(--color-grey-7);
  border: 1px solid var(--color-grey-7);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 0px;
  color: var(--color-grey-2);
}
.button-mode {
  width: 36px;
  height: 36px;
  background-color: var(--color-grey-8);
  border: none;
  border-radius: 5px;
}
.btn-music {
  height: 32px;
  border: none;
  background: var(--color-grey-8);
  border: 1px solid var(--color-grey-8);
  border-radius: 4px;
  padding: 0px 8px;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 0px;
  color: var(--color-grey-2);
  cursor: pointer;
}
.btn-music:hover {
  background: var(--color-grey-7);
  border: 1px solid var(--color-grey-7);
  border-radius: 4px;
}
.btn-music:focus {
  background: var(--color-grey-1);
  border-radius: 4px;
  color: var(--color-grey-9);
}
