.inputs-header {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.inputs-header li {
  float: left;
  margin: 0 5px 0 0;
  width: 74px;
  height: 32px;
  position: relative;
}

.inputs-header label,
.inputs-header input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inputs-header input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.inputs-header input[type="radio"]:checked + label,
.Checked + label {
  background-color: var(--color-grey-1);
  border: none;
  border-radius: 4px;
  color: var(--color-white-fixed);
}
.inputs-header label {
  cursor: pointer;
  z-index: 90;
  border: 1px solid var(--color-grey-8);
  border-radius: 4px;
  background-color: var(-color-grey-8);
  color: var(--color-grey-2);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.inputs-header label:hover {
  background-color: var(--color-grey-1);
  border-radius: 4px;
  color: var(--color-grey-2);
  z-index: 101;
}
.range {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  background: var(--color-grey-5);
  outline: none;
  border-radius: 4px;
  overflow: hidden;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-grey-9);
  cursor: pointer;
  border: 4px solid var(--color-brand-1);
  box-shadow: -407px 0 0 400px var(--color-brand-1);
}
